@import url(http://fonts.googleapis.com/css?family=Lato:100,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  color: #fff;
}
p {
  font-family: Lato, sans-serif;
  font-weight: 100;
  font-style: italic;
  text-align: center;
}
h1 {
  font-family: Oswald, sans-serif;
  border-bottom: 2px solid #60380E;
  padding: 20px 0px;  
  background-color:rgba(165,42,42,0.7);
  text-align: center;
}
.tile {
  cursor: pointer;
  display: inline-block;
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  position: relative;
  width: 480px;
  height: 281px;
  overflow: hidden;
}

.panelleft {
  background-color:rgba(230,126,34,0.6);
  z-index: 100;
  margin-left: -100%;
  line-height: 26px;;
  height: 281px;
  width: 150px;
}
.panelright {
  background-color:rgba(230,126,34,0.6);
  z-index: 100;
  margin-left: 100%;
  line-height: 26px;;
  height: 281px;
  width: 150px;
}
.paneltop {
  background-color:rgba(230,126,34,0.4);
  width: 480px;
  z-index: 100;
  margin-top: 100%;
}
.panelbottom {
  width: 480px;
  z-index: 100;
  margin-top: 100%;
}
.panelbottom p {
  background-color:rgba(230,126,34,0.4);
  font-size: 30px;
}
.panelcenter {
  z-index: 100;
  font-size: 30px;
  font-family: arial, sans-serif;
  padding: 0px 20px;
  filter: alpha(opacity=0); /* IE */
  opacity: 0;
  text-align: center;
  margin: 0 60px;
}
.panelcenter p {
  background-color:rgba(230,126,34,0.4);
  padding: 0px 13px;
}
.panelcenter h1 {
  padding: 20px 40px;
  display: inline-block;
  margin: 40px 0 0;
}
div > div {
  position: absolute;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;  
}

div > img{
  margin-left:-4%;
  position: absolute;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
div:hover > div.panelleft {
  margin-left: 0;
}
div:hover > div.panelright {
  margin-left: 65%;
}
div:hover > div.paneltop {
  margin-top: 0;
}
div:hover > div.panelbottom {
  margin-top: 35%;
}
div:hover > div.panelcenter {
  filter: alpha(opacity=100); /* IE */
  opacity: 1.0;
}
div > img.imagefront {
  filter: alpha(opacity=100); /* IE */
  opacity: 1;
  z-index: 2;
}
div > img.imagebehind {
  filter: alpha(opacity=0); /* IE */
  opacity: 0;
  z-index: 1;
}
div:hover > img.imagefront {
  filter: alpha(opacity=0); /* IE */
  opacity: 0;
  z-index: 1;
  margin-left: -1%;
}
div:hover > img.imagebehind { 
  filter: alpha(opacity=100); /* IE */
  opacity: 1;
  z-index: 2;
  margin-left: -1%;
}