*, *::after, *::before {
	box-sizing: border-box;
}

body{
	padding-right: 34.5px;
	padding-left: 34.5px;
	margin-right: auto;
	margin-left: auto;
}

.border_radius_zero{
	border-radius: 0 !important;
}

/*expanding search field*/

/*expanding search field ends*/

/*mobile nav style starts*/

#nav_slide {
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transform: translatex(0);
	-webkit-transform: translatex(0);
	-moz-transform: translatex(0);
	z-index: 100;
	position: fixed;
	left: 0;
	width: 40%;
	height: 100vh;
	background-color: #EF4123;
	box-shadow: 3px 2px 30px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
#nav_slide.hidden-nav {
	transform: translatex(-100%);
	-webkit-transform: translatex(-100%);
	-moz-transform: translatex(-100%);
}
#nav_slide .close {
	height: 40px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: #EF4123;
	width: 40px;
	border-radius: 50%;
	border: 2px solid #fff;
	opacity: 1;
}
#nav_slide .close::after, #nav_slide .close::before {
	content: '';
	display: block;
	height: 2px;
	width: 36px;
	background-color: #FFF;
	position: absolute;
	bottom: 17px;
	right: 0px;
	transform-origin: center;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}
#nav_slide .close::after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}
#nav_slide ul {
	z-index: 10;
	list-style: none;
}
#nav_slide ul li {
	position: relative;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	padding: 5px 0 5px 0;
	transform: translatex(-300px);
	-webkit-transform: translatex(-300px);
	-moz-transform: translatex(-300px);
	margin: 20px 0;
}

#nav_slide ul li:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

#nav_slide ul li.shown {
	transform: translatex(0px);
	-webkit-transform: translatex(0px);
	-moz-transform: translatex(0px);
}
#nav_slide ul li a {
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
}

.mask {
	transition: opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.53);
	opacity: 1;
	z-index: 10;
}
.mask.hidden-nav {
	opacity: 0;
	z-index: -100;
}

header {
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

header div.burger {
	z-index: 10;
	position: fixed;
	width: 50px;
	height: 50px;
	background-color: #ef4024;
	bottom: 5px;
	left: 2.5%;
	cursor: pointer;
}

header div.burger div {
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	width: 60%;
	height: 3px;
	top: 10px;
	position: relative;
	margin: 0 auto;
	background-color: #FFFFFF;
	margin-top: 6px;
}


/*mobile nav styling ends*/